
.contact-section {

    margin-top: 100px;
    width: 50%;
    height: 300px;
    opacity: 0;
    animation: ContactSectionAnimation 1000ms ease-in-out forwards;
  
}


/* screen mobile */
@media screen and (max-width:414px) {

    .contact-section {
        width: 98%;
    }
    
}



.contact-form-container {

    border: solid white 1px;
    width: 100%;
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;






}

.inputs-container {

    width: 100%;
    /*border: solid green 2px;*/
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.input-container {

    display: flex;
    flex-direction: column;
    width: 100%;
   /* border: solid orangered 2px;*/


}


.input-container input {
    padding: 10px;
    border: none;
    outline: none;


}

.input-container textarea  {
    resize: none;
    height: 100px;
    padding: 10px;
    outline: none;
    border: none;
}

.contact-form-button-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-form-button-container button {
    border: none;
    padding: 10px 30px;
    font-weight: bold;

}

.contact-form-button-container button:hover {
    opacity: 0.8;
    cursor: pointer;
}


.sent-message-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    position: absolute;
    color: black;
    background-color: rgb(138, 221, 138);
    overflow: hidden;
    overflow: scroll;
    padding: 20px;
    bottom: 0;
    width: 100%;
    opacity: 0;
    animation: SentMessageAnimation 500ms ease-in-out forwards;




}

.sent-message-container p {
    margin: 0;
}


@keyframes  ContactSectionAnimation {


    from {
        opacity: 0;
        transform: translateY(300px);


    }


    to {

        opacity: 1;
        transform: translateY(0);

    }
}
    

@keyframes SentMessageAnimation {

    from {
        opacity: 0;
        transform: translateY(300px);
    }

    to {

        opacity: 1;
        transform: translateY(0);
    }
}