



#home-section {

    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 300px;
    opacity: 10%;
    animation: HomeSectionAnimation 1000ms ease-in-out forwards;

}


/* screen mobile */
@media screen and (max-width:414px) {

    #home-section {
        width: 98%;
    }

    #home-section h1 {
        width: 98%;
    

        text-align: center;
    }
    
}







#home-section button:first-of-type {
    
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    font-weight: bold;
    background-color: gray;
    opacity: 1;
   
    
}

#home-section p:first-of-type > em  > strong {

    color: rgb(249, 248, 153);

}

#home-section button:first-of-type:hover {

    cursor: pointer;
    opacity: 0.8;

}


.home-article button:hover {
    opacity: 0.8;
    cursor: pointer;
}



@keyframes  HomeSectionAnimation {


    from {
        opacity: 0;
        transform: translateY(300px);


    }


    to {

        opacity: 1;
        transform: translateY(0);

    }
}
    