#log-section {


    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border: solid white 1px;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;
    opacity: 0;
    animation: LogSectionAnimation 1000ms ease-in-out forwards;
   



}


@media screen and (max-width:414px) {

    #log-section {

        width: 98%;
        height: 90vh;
        margin: 0px;
        border: transparent white 0px;

    }

    .log-form-container{

        border: solid white 0px;
    }

}

.log-form-container {

    border: solid white 1px;
    width: 100%;
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;

}

.log-inputs-container {

    width: 100%;

    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.input-container {

    display: flex;
    flex-direction: column;
    width: 100%;
   /* border: solid orangered 2px;*/


}


.input-container input {
    padding: 10px;
    border: none;
    outline: none;


}
@media screen and (max-width:414px) {
    .input-container input {

        padding: 10px;
        font-size: 18px;
    }
   
}
   



.log-form-buttons-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.log-form-buttons-container button {
    border: none;
    padding: 10px 30px;
    font-weight: bold;

}

@media screen and (max-width:414px) {
    .log-form-buttons-container button {

        font-size: 18px;
    }
   
}
   

.log-form-buttons-container button:hover {
    opacity: 0.8;
    cursor: pointer;
}


#login-button, #signup-button {
    cursor: pointer;
}

@keyframes  LogSectionAnimation {


    from {
        opacity: 0;
        transform: translateY(300px);


    }


    to {

        opacity: 1;
        transform: translateY(0);

    }
}