<!DOCTYPE html>
<html lang="fr-FR" dir="ltr">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Projet 1"/>
        <meta name="author" content="Boris Rose"/>
        <meta name="keywords" content="html css"/>
        <title> Log Page</title>
        <link rel="stylesheet" href="../global.css">
        <link rel="stylesheet" href="../css/log.css">
        <link rel="icon" type="image/jpg" href="../assets/magical-6046020_1280.jpg">
        <script defer src="../js/log.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="contact.html" >Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="log-section">
            </section>
        </main>
        <footer id="log-footer">
        </footer>
    </body>

</html>

